@media all and (max-width: 480px) {
    .contenido {
        background-color: transparent !important;
        background: none !important;
        box-shadow: none !important;
        max-width: 240px;
        padding: 0;
    }

    section.contenido {
        margin-top: 20px;
    }
}