@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

/* ------------------------------ HEADER - MENÚ ------------------------------ */
#mainheader {
    background-image: url(../img/header.png);
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    opacity: 0.9;
    max-height: 77px;
    text-align: center;
}

/* Estructura general */
nav {
    max-width: 920px;
    position: relative;
    max-height: 77px;
}

label.toggle.icono,
[id^=drop] {
    display: none;
}

nav ul label {
    font-weight: bold;
}

label.toggle {
    display: block;
    cursor: pointer;
    color: white;
}

label.toggle {
    transition: all 0.3s;
}

#logo {
    display: block;
    float: left;
    margin: 10px;
    margin: 0 auto;
    text-align: center;
}

/* Menú principal */
nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;

}

nav ul li {
    position: relative;
    display: inline-block;
    margin: 0 8px;
    line-height: 60px;
}

nav > ul > li > label.toggle {
  font-weight: bold;
}

nav > ul > li > label.toggle:hover {
  color: #c1d7f3;
  transform: scale(1.1);
}

nav ul ul label.toggle {
  font-weight: normal;
}

nav ul ul label.toggle:hover {
  background-color: rgba(108, 105, 179, 0.35);
  color: #c1d7f3;
  transform: scale(1.05);
}

nav ul li a {
    max-height: 60px;
}

label.toggle {
    max-height: 60px;
}

nav a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: all 0.3s;
}

nav a:hover {
    color: #c1d7f3;
    transform: scale(1.1);
}

/* Submenús */
nav ul ul {
    display: none;
    position: absolute;
    background-image: url(../img/header.png);
    background-size: cover;
    padding: 0;
    margin: 0;
    min-width: 180px;
    border-radius: 10px;
    z-index: 9999;
    clear: both;
}

nav ul li:hover>ul {
    display: block;
}

nav ul ul li {
    display: block;
    border-radius: 10px;
}

nav ul ul li a {
    text-align: center;
    font-weight: normal;
}

nav ul ul ul {
    top: 0;
    left: 100%;
}

nav ul ul li a:hover {
    background-color: rgba(108, 105, 179, 0.35);
}

/* ------------------------------ MEDIA QUERIES ------------------------------ */
@media all and (max-width: 768px) {

    #mainheader {
        position: static;
        border-radius: 0;
        max-height: none;
    }

    nav {
        background-image: url(../img/header.png);
        background-size: cover;
        border-radius: 0;
        margin: 0 auto;
    }

    #logo {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 60px;
    }

    label.toggle {
        display: block;
        color: #FFFFFF;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        line-height: 60px;
        text-align: left;
        font-weight: bold;
    }

    label.toggle.icono {
        display: block;
        font-size: 28px;
        color: white;
        padding-top: 8.5px;
        cursor: pointer;
        float: left;
        z-index: 1000;
    }

    .toggle.icono {
        float: left;
        position: relative;
        display: block;
    }

    #logo img {
        display: none;
    }

    nav {
        height: 77px;
    }

    .menu {
        display: none;
        width: 100%;
    }

    /* Mostrar menú principal */
    #drop:checked~.menu {
        display: block;
        background-image: url(../img/header.png);
        background-size: cover;
        border-radius: 0 0 15px 15px;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        display: block;
        text-align: left;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    }

    nav > ul > li > label.toggle {
        text-align: center;
    }

    nav ul li a {
        font-size: 18px;
        display: block;
        text-align: center;
    }

    /* Submenús */
    nav ul ul {
        position: static;
        border-radius: 0;
        display: none;
    }

    /* Mostrar submenús cuando se activa el checkbox */
    [id^=drop-]:checked+ul {
        display: block;
    }

    nav ul ul li a {
        font-weight: normal;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    nav ul ul label.toggle {
        text-align: center;
    }

    /* Desactivar hover en móvil */
    nav ul li:hover>ul {
        display: none;
    }
}