@media all and (min-width: 769px) {
    #mainheader {
        position: fixed;
    }

    section.contenido {
        margin-top: 15px;
    }

    body {
        padding-top: 75px;
    }
}